@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  min-height: 100dvh;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
//main colors
$main-color: #f8fafd;
$second-color: #ffffff;
$third-color: #f8f8f8;
//style mixin
@mixin text-grey {
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  text-align: left;
  color: #616161;
}
@mixin text-blue {
  all: unset;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  color: #2c8eff;
  cursor: pointer;
  text-align: right;
}
@mixin box-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
@mixin dropdown-style {
  margin-top: 8px;
  font-size: 12px;
  grid-column: 1/3;
}
@mixin shadow-border-box {
  background-color: $second-color;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05), 0px 0px 2px rgba(0, 0, 0, 0.07),
    0px 0px 1px rgba(0, 0, 0, 0.05);
}
@mixin dotted-upload {
  padding: 7px;
  width: 100%;
  height: 100%;
  border: 2px dashed #b5b5b5;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  .upload-text {
    max-width: 163px;
    display: flex;
    flex-direction: column;
    p {
      font-size: 12px;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 0px;
      text-align: center;
      color: #b5b5b5;
      span {
        color: #1b8bce;
      }
    }
    input {
      display: none;
    }
  }
}

body {
  font-family: "Lato", sans-serif;
  background-color: $main-color;
  position: relative;
  overflow-x: hidden;
}
.App {
  height: 100vh;
  height: 100dvh;
}

//navbar-imense style
header {
  height: 70px;
  background-color: $second-color;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.navbar-imense {
  width: 1205px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}
.logo {
  min-width: 120px;
  svg {
    width: 100%;
    height: 100%;
  }
}
.search-bar {
  background-color: #f6f6f6;
  width: clamp(200px, 50%, 354px);
  height: 32px;
  display: flex;
  align-items: center;
  .search-icon {
    width: 38px;
    display: grid;
    place-items: center;
    svg {
      width: 15px;
      height: 15px;
      color: #bebebe;
    }
  }
  .search-input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    &::placeholder {
      font-size: 13px;
    }
  }
}
.nav-bar {
  display: flex;
  align-items: center;
  gap: 27px;
  .nav--links {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #b6b6b6;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
  }
  a.active {
    color: #2c8eff;
  }
}

.right-nav {
  display: flex;
  align-items: center;
  gap: 27px;
  .notification {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    svg {
      min-height: 20px;
      min-width: 20px;
      color: #a4a4a4;
    }
  }
  .lang {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    cursor: pointer;
    .dropdown__selected {
      position: relative;
      width: 20px;
      height: 20px;
      .lang-image {
        width: 100%;
        height: 100%;
      }
    }
    .dropdown__options {
      overflow: hidden;
      position: absolute;
      width: max(100%, 133px);
      background-color: $second-color;
      top: 55px;
      right: 0;
      border-radius: 0.5rem;
      li {
        padding: 10px;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 6px;
        padding: 10px;
        cursor: poniter;

        span {
          font-size: 12px;
          font-weight: 400;
          line-height: 14px;
          color: #313131;
          transition: 300ms all ease-in;
        }
        &:hover {
          span {
            color: #adadad;
          }
        }
      }
    }
  }
  .user {
    min-width: 120px;
    display: flex;
    align-items: center;
    gap: 6px;
    position: relative;
    cursor: pointer;

    .user-image {
      border-radius: 50%;
      height: 32px;
      width: 32px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .user-info {
      .user-name {
        font-size: 13px;
        font-weight: 600;
        line-height: 16px;
        color: #6b6b6b;
      }
      .user-role {
        color: #9f9f9f;
        font-size: 11px;
        font-weight: 500;
        line-height: 13px;
      }
    }
    .user-dropdown {
      overflow: hidden;
      position: absolute;
      width: max(100%, 165px);
      background-color: $second-color;
      top: 55px;
      right: 0;
      border-radius: 0.5rem;
      .dropdown-list {
        padding: 0;
        li {
          list-style: none;
          padding: 16px 14px;
          font-family: "Roboto";
          transition: 300ms all ease-in;

          &:hover {
            background-color: #d8d8d8;
          }
        }
        .dl_1 {
          border-bottom: 1px solid #ebebeb;
          :nth-child(1) {
            font-size: 12px;
            font-weight: 600;
            line-height: 14px;
          }
          :nth-child(2) {
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            color: #797979;
          }
        }
        .dl_2,
        .dl_3,
        .dl_4 {
          display: flex;
          align-items: center;
          gap: 12px;
          svg {
            height: 16.015731811523438px;
            width: 16px;
            color: #797979;
          }
          p {
            font-size: 13px;
            font-weight: 400;
            line-height: 15px;
          }
        }
        .dl_4 {
          border-top: 1px solid #ebebeb;
        }
      }
    }
  }
}
.menu-mobile {
  display: none;
  position: relative;
  cursor: pointer;
  .user-dropdown-mobile {
    overflow: hidden;
    position: absolute;
    width: max(100%, 165px);
    background-color: $second-color;
    top: 55px;
    right: 0;
    border-radius: 0.5rem;
    .dropdown-list-mobile {
      padding: 0;
      a {
        text-decoration: none;
        color: #797979;
      }
      a.active {
        color: #2c8eff;
      }
      li {
        list-style: none;
        padding: 16px 14px;
        font-family: "Roboto";
        transition: 300ms all ease-in;

        &:hover {
          background-color: #d8d8d8;
        }
      }
      .mb_1,
      .mb_2,
      .mb_3,
      .mb_4 {
        display: flex;
        align-items: center;
        gap: 12px;
        border-bottom: 1px solid #ebebeb;
        p {
          font-size: 13px;
          font-weight: 400;
          line-height: 15px;
        }
      }
      .dl_4 {
        border-top: none;
      }
    }
  }
}
//training style
.training {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 71px;
  .training-container {
    max-width: 1080px;
    padding: 33px 10px 0px 10px;
    display: flex;
    flex-direction: column;
  }
  .training-action {
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;
      color: #7c7c7c;
    }
    .action-btn {
      display: flex;
      align-items: center;
      gap: 25px;
      .cancel-btn {
        all: unset;
        color: #b5b5b5;
        font-size: 13px;
        font-weight: 700;
        line-height: 16px;
        display: block;
        cursor: pointer;
      }
      .Update-btn {
        all: unset;
        display: block;
        cursor: pointer;
        text-align: center;
        width: 147px;
        height: 35px;
        background-color: #eb7421;
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        border-radius: 0.3rem;
      }
    }
  }
}

//Firstsection style
.grid-box {
  display: grid;
  grid-template-columns: 2fr 1.5fr 1fr;
  gap: 5px;
  margin-bottom: 14px;

  .box-1 {
    @include shadow-border-box();
    padding: 16px 25px;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr;
    grid-template-rows: auto;
    row-gap: 17px;
    column-gap: 10px;
    .box-category {
      @include box-grid();
      .text-left {
        @include text-grey();
      }
      .text-right {
        @include text-blue();
      }
      .box-1__dropdown {
        @include dropdown-style();
      }
    }

    .box-topic {
      @include box-grid();
      .text-left {
        @include text-grey();
      }
      .text-right {
        @include text-blue();
      }
      .box-1__dropdown {
        @include dropdown-style();
      }
    }

    .box-years {
      display: grid;
      font-weight: 600;
      color: #313131;
      .text-left {
        @include text-grey();
      }
      .box-1__dropdown {
        @include dropdown-style();
      }
    }

    .box-training {
      grid-column: span 2;
      .text-top {
        @include text-grey();
      }
      .box-training__sub {
        margin-top: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #ffffff;
        height: 42px;
        border-radius: 4px;
        border: 1px solid hsl(0, 0%, 80%);
        padding: 2px 8px;
        p {
          font-size: 12px;
          font-weight: 600;
          line-height: 14px;
          color: #313131;
        }
        .tr-right {
          display: flex;
          align-items: center;
          gap: 9px;
          :nth-child(2) {
            cursor: pointer;
          }
        }
      }
    }
    .box-work {
      .text-top {
        @include text-grey();
      }
      .box-1__dropdown {
        @include dropdown-style();
      }
    }
    .dep-func {
      display: grid;
      row-gap: 10px;
      .box-Departments {
        @include box-grid();
        .text-left {
          @include text-grey();
        }
        .text-right-grey {
          font-size: 13px;
          font-weight: 600;
          line-height: 16px;
          color: #b8b8b8;
          text-align: right;
        }
        .box-1__dropdown {
          @include dropdown-style();
        }
      }
      .box-function {
        @include box-grid();
        .text-left {
          @include text-grey();
        }
        .text-right-grey {
          font-size: 13px;
          font-weight: 600;
          line-height: 16px;
          color: #b8b8b8;
          text-align: right;
        }
        .box-1__dropdown {
          @include dropdown-style();
        }
      }
    }
    .box-description {
      display: grid;
      grid-template-rows: auto 1fr;
      gap: 8px;
      grid-column: 2/4;
      grid-row: 3/4;
      .text-left {
        @include text-grey();
      }
      textarea {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        font-size: 12px;
        font-style: italic;
        font-weight: 400;
        line-height: 14px;
        padding: 10px;
        outline: none;
        border-radius: 4px;
        border: 1px solid hsl(0, 0%, 80%);
      }
    }
  }
  .box-2 {
    width: 100%;
    height: 100%;
    padding: 16px 18px;
    display: flex;
    flex-direction: column;
    @include shadow-border-box();
    .text-grey {
      font-size: 13px;
      font-weight: 600;
      line-height: 16px;
      color: #616161;
      margin-bottom: 18px;
    }
    .doted-box {
      @include dotted-upload();
    }
    .ft-text {
      font-size: 11px;
      font-weight: 600;
      line-height: 13px;
      color: #b4b4b4;
      text-align: center;
      margin-top: 30px;
    }
  }
  .box-3 {
    display: flex;
    flex-direction: column;
    padding: 16px 18px;
    width: 100%;
    height: 100%;
    @include shadow-border-box();
    .text-grey {
      font-size: 13px;
      font-weight: 600;
      line-height: 16px;
      color: #616161;
      margin-bottom: 18px;
    }
    .doted-box {
      @include dotted-upload();
    }
    .pdf-box {
      margin-top: 10px;
      background-color: #47ca5b;
      border-radius: 4px;
      padding: 6px 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .pdf-left {
        .done {
          font-size: 10px;
          font-weight: 600;
          line-height: 12px;
          color: $second-color;
        }
        .file-name {
          font-size: 11px;
          font-weight: 700;
          line-height: 13px;
          color: $second-color;
        }
      }
      .pdf-close {
        all: unset;
        width: 22px;
        height: 22px;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        svg {
          border-radius: 50%;
          color: #b5b5b5;
        }
      }
    }
    .ft-text-1 {
      margin-top: 6px;
      font-size: 11px;
      font-weight: 600;
      line-height: 13px;
      text-align: left;
      color: #b4b4b4;
    }
    .ft-text-2 {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;
      hr {
        width: 100%;
        border-top: 1px solid#EBEBEB;
        color: #ebebeb;
      }
      p {
        font-size: 11px;
        font-weight: 700;
        line-height: 13px;
        color: #aaaaaa;
      }
    }
    .media-box {
      width: 100%;
      display: flex;
      flex-direction: column;
      .media-text {
        font-size: 13px;
        font-weight: 600;
        line-height: 16px;
        color: #616161;
        margin-bottom: 5px;
      }
      .media-input {
        all: unset;
        border: 1px solid #dcdcdc;
        border-radius: 5px;
        color: #bbbbbb;
        font-size: 11px;
        font-weight: 600;
        line-height: 13px;
        padding: 7px 10px;
      }
    }
  }
}

//second section style
.secondsection-grid {
  padding: 18px 24px;

  @include shadow-border-box();
  margin-bottom: 14px;
  .header-text {
    :nth-child(1) {
      font-size: 13px;
      font-weight: 600;
      line-height: 16px;
      color: #616161;
      margin-bottom: 6px;
    }
    :nth-child(2) {
      font-size: 11px;
      font-weight: 500;
      line-height: 13px;
      color: #b4b4b4;
      position: relative;
      margin-bottom: 24px;
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: #ebebeb;
        bottom: -10px;
        right: 0;
        left: 0;
      }
    }
  }
  .qst-box {
    margin-bottom: 14px;
    background-color: $third-color;
    border-radius: 5px;
    padding: 22px 30px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 38px;
    .qst-left {
      max-width: 662px;
      height: 100%;
      .qst-text-number {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        p {
          font-size: 15px;
          font-weight: 700;
          line-height: 17px;
          color: #313131;
        }
        svg {
          height: 18px;
          width: 18px;
          color: #c7c7c7;
          cursor: pointer;
        }
      }
      .qst-text-context {
        background-color: $second-color;
        border-radius: 5px;
        padding: 16px;
        margin-bottom: 10px;
        p {
          color: #616161;
          font-size: 12px;
          font-weight: 600;
          line-height: 14px;
        }
      }
      .qst-option {
        margin-bottom: 8px;
        background-color: $second-color;
        border-radius: 5px;
        padding: 6px 11px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .text-left {
          color: #616161;
          font-size: 12px;
          font-weight: 600;
          line-height: 14px;
        }
        .right-box {
          display: flex;
          align-items: center;
          gap: 13px;
          .svg-box {
            background-color: #e8ffeb;
            width: 26px;
            height: 26px;
            display: grid;
            place-items: center;
            transition: 300ms all ease-in;
            border-radius: 2px;
            cursor: pointer;
            svg {
              color: #b6f6c0;
            }
            &:hover {
              background-color: #48ca5c;
              svg {
                color: #ffffff;
              }
            }
          }
          .small-upload {
            display: grid;
            grid-template-columns: 1fr;
            label {
              width: 26px;
              height: 26px;
              cursor: pointer;
              img {
                width: 100%;
                height: 100%;
              }
            }
            input {
              display: none;
            }
          }
        }
      }
    }
    .qst-right {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      .qst-image-text {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin-bottom: 9px;
        :nth-child(1) {
          color: #616161;
          font-size: 13px;
          font-weight: 600;
          line-height: 16px;
        }
        :nth-child(2) {
          color: #b6b6b6;
          font-size: 12px;
          font-weight: 500;
          line-height: 14px;
        }
      }
      .doted-box {
        @include dotted-upload();
      }
    }
  }
  .add-btn {
    all: unset;
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
    background-color: #e1efff;
    border-radius: 5px;
    cursor: pointer;
    color: #2c8eff;
    text-align: center;
  }
}

//third section style
.slide-wrapper {
  max-width: 1080px;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.splide {
  width: 100%;
}
.slide-item {
  width: 100%;
  height: 156px;
  background-color: #ffffff;
  border-radius: 5px;
  position: relative;
  z-index: 100;
  .slide-item-info {
    position: absolute;
    top: 10px;
    right: 7px;
    cursor: pointer;
  }
  .slide-item-content {
    width: 152px;
    position: absolute;
    top: 31px;
    right: 7px;
    background-color: #ffffff;
    padding: 6px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 0px 2px rgba(0, 0, 0, 0.07),
      0px 0px 1px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    p {
      color: #545454;
      font-size: 10px;
      font-weight: 400;
      line-height: 12px;
      letter-spacing: 0em;
    }
  }
  .content-box {
    padding: 12px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    .counter {
      width: 100%;
      .toggle-switch {
        display: flex;
        align-items: center;
        justify-content: center;
        input[type="checkbox"] {
          height: 0;
          width: 0;
          visibility: hidden;
        }
        label {
          cursor: pointer;
          text-indent: -9999px;
          width: 50px;
          height: 20px;
          background: #f1f1f1;
          display: block;
          border-radius: 100px;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            left: -1px;
            bottom: -5px;
            width: 30px;
            height: 30px;
            background: #47ca5b;
            border-radius: 50%;
            transition: 200ms all ease-in;
          }
        }
        input:checked + label {
          background: #daffdf;
        }

        input:checked + label:after {
          left: 100%;
          transform: translateX(-100%);
        }
      }
      .value-box {
        width: 100%;
        display: flex;
        gap: 5px;
        .minus,
        .plus {
          all: unset;
          cursor: pointer;
          display: block;
          width: 65px;
          height: 30px;
          border-radius: 5px;
          background-color: #f1f1f1;
          display: grid;
          place-items: center;
          svg {
            color: #c8c8c8;
          }
        }
        .blue-border {
          display: flex;
          width: 100%;
          border: 1px solid #2c8eff;
          border-radius: 5px;
          .input-box {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            p {
              color: #2c8eff;
            }
          }
          .type-box {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            p {
              font-size: 14px;
              font-weight: 600;
              color: #2c8eff;
            }
          }
        }
      }
    }
  }
}

.splide__arrows {
  .splide__arrow--prev {
    position: absolute;
    left: -44px;
    width: 34px;
    height: 30px;
    background-color: #ffffff;
    opacity: 1;
    border-radius: 5px;
    svg {
      fill: #b6b6b6;
    }
  }
  .splide__arrow--next {
    display: none;
  }
}
.progress-bar-container {
  margin: 11px 0px;
  background-color: #e1ebf0;
  width: 100%;
  height: 4px;
  position: relative;
  .progress-bar {
    position: absolute;
    height: 4px;
    right: 0;
    top: 0;
    background-color: #2c8eff;
  }
}

.dashboard,
.more,
.users {
  display: flex;
  justify-content: center;
  margin-top: 71px;
  .dashboard-container,
  .more-container,
  .users-container {
    width: 1080px;
    padding: 33px 10px 0px 10px;
    h2 {
      color: #2c8eff;
    }
  }
}
@media only screen and (max-width: 1095px) {
  .splide {
    width: 80%;
    height: auto;
    overflow: auto;
  }
  .splide__arrows {
    .splide__arrow--prev {
      position: absolute;
      left: 22px;
      width: 34px;
      height: 30px;
      background-color: #ffffff;
      opacity: 1;
      border-radius: 5px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1),
        0px 0px 2px rgba(0, 0, 0, 0.07), 0px 0px 1px rgba(0, 0, 0, 0.05);
      border-radius: 5px;
      svg {
        fill: #b6b6b6;
      }
    }
  }
  header {
    .navbar-imense {
      .nav-bar {
        padding: 0px 10px;
      }
      .right-nav {
        gap: 10px;
      }
    }
  }
}
@media only screen and (max-width: 893px) {
  .splide {
    width: 50%;
    height: auto;
    overflow: auto;
  }
  header {
    .navbar-imense {
      .right-nav {
        gap: 10px;
        .user {
          min-width: 100%;
          .user-info {
            display: none;
          }
          .user-dropdown {
            right: 72px;
          }
        }
      }
    }
  }
  .grid-box {
    grid-template-columns: 1fr 1fr;
    .box-1 {
      grid-column: 1/4;
    }
  }
  .secondsection-grid {
    .qst-box {
      grid-template-columns: 2fr 1fr;
      .qst-left {
        max-width: 100%;
      }
    }
  }
}
@media only screen and (max-width: 893px) {
  header {
    .navbar-imense {
      .nav-bar {
        display: none;
      }
      .menu-mobile {
        display: block;
        width: 22px;
        height: 22px;
        svg {
          width: 100%;
          height: 100%;
        }
      }
      .right-nav {
        gap: 10px;
        .user {
          min-width: 100%;
          .user-info {
            display: none;
          }
          .user-dropdown {
            right: 72px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 573px) {
  .splide {
    width: 25%;
    height: auto;
    overflow: auto;
  }
  header {
    .navbar-imense {
      .logo {
        min-width: 85px;
        width: 85px;
      }
    }
  }
  .training {
    .training-action {
      align-items: flex-start;
      flex-direction: column;
      gap: 10px;
      .action-btn {
        justify-content: space-between;
        width: 100%;
      }
    }
  }
  .grid-box {
    .box-1 {
      grid-template-columns: 1fr;
      .box-training {
        grid-column: span 1;
      }
      .box-description {
        grid-column: span 1;
        grid-row: span 1;
        textarea {
          height: 120px;
        }
      }
    }
    .box-2 {
      grid-column: 1/4;
    }
    .box-3 {
      grid-column: 1/4;
    }
  }
  .secondsection-grid {
    .qst-box {
      grid-template-columns: 1fr;
    }
  }
}
